.blue{
    background-color:rgb(94, 120, 120)
}
.header {
    margin: auto;
    width: 50%;
    border: 3px;
    justify-content: center;
    
}
.faketabs{
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-grow: 4;
    text-align: center;
    background-color:rgb(130, 233, 249);
}
.tab:hover {
   background-color: rgba(66, 66, 66, 0.493);
}